h1 {
    font-weight: 400px;
    text-transform: capitalize;
  }
  
  .current-city {
    font-size: 40px;
  }
  .today {
    font-size: 20px;
    display: inline;
  }
  .time {
    font-size: 15px;
    display: block;
  }